<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Cadastro'" [icon]="'fa-edit'"></app-page-header> -->

      <!-- Usando Charts -->
  <div class="card mb-3">
      <div class="card-header">
          Dados do Paciente
      </div>
      <div class="card-body">
          <div class="row">
                <div class="col-lg-2">    
                    <fieldset class="form-group">
                        <label>CPF:</label>
                            <input class="form-control" placeholder="111.111.111-11">
                            <p class="help-block"></p>
                    </fieldset>
                </div>

              <app-timeline></app-timeline>

          </div>
      </div>
      <div class="card-footer">
          <div class="row">

          </div>
      </div>
  </div>

