<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Cadastro'" [icon]="'fa-edit'"></app-page-header> -->

  <!-- Usando Charts -->
  <div class="card mb-3">
    <div class="card-header">
      Dados do Atendimento
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ">
          <fieldset class="form-group">
            <label>Nº de atendimento</label>
            <input type="number" class="form-control">
          </fieldset>
        </div>
        <div class="col-lg-6">
          <fieldset class="form-group">
            <label>Nome do Paciente</label>
            <input class="form-control" type="text" placeholder="Nome completo">
            <p class="help-block"></p>
          </fieldset>
        </div>
        <div class="col-lg-3">
          <fieldset class="form-group">
            <label>Nascimento</label>
            <input type="date" class="form-control">
          </fieldset>
        </div>
      </div>

      <!-- <div class="row">
              <div class="col-lg-2">
                  <label>Número do plano:</label>
                  <fieldset class="form-group">
                      <input class="form-control" placeholder="111.111.111-11">
                  </fieldset>
              </div>
              <div class="col-lg-2">
                  <fieldset class="form-group">
                      <label>CPF:</label>
                      <input class="form-control" placeholder="111.111.111-11">
                      <p class="help-block"></p>
                  </fieldset>
              </div>
              <div class="col-lg-2">
                  <fieldset class="form-group">
                      <label>RG:</label>
                      <input class="form-control" placeholder="000.000.000-0">
                      <p class="help-block"></p>
                  </fieldset>
              </div>
              <div class="col-lg-5">
                  <fieldset class="form-group">
                      <label>E-mail:</label>
                      <input type="text" class="form-control" placeholder="exemplo@exemplo.com.br">
                  </fieldset>
              </div>
          </div> -->
      <div class="row">
        <div class="col-lg-2">
          <fieldset class="form-group">
            <label>Medicamento?</label>
            <br>
            &nbsp;
            <label class="radio-inline">
              <input type="radio" name="medicamento" id="optionsMedicamento1" (click)="radioValueCheckMedicamento(1)" value="option1">
              Sim
              &nbsp;&nbsp;&nbsp;
              <input type="radio" name="medicamento" id="optionsMedicamento2" (click)="radioValueCheckMedicamento(2)" value="option2"
                checked> Não
            </label>
          </fieldset>
        </div>
        <div class="col-lg-6">
          <fieldset class="form-group">
            <label>Medicamentos</label>
            <input type="text" class="form-control" [disabled]="!showDateInputMedicamento" placeholder="Clique em 'Sim' para informar...">
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <fieldset class="form-group">
            <label>   Alergias?</label>
            <br>
            &nbsp;
            <label class="radio-inline">
              <input type="radio" name="alergia" id="optionsAlergia1" (click)="radioValueCheckAlergia(1)" value="option1">
              Sim
              &nbsp;&nbsp;&nbsp;
              <input type="radio" name="alergia" id="optionsAlergia2" (click)="radioValueCheckAlergia(2)" value="option2"
                checked> Não
            </label>
          </fieldset>
        </div>
        <div class="col-lg-6">
          <fieldset class="form-group">
            <label>Alergias</label>
            <input class="form-control" [disabled]="!showDateInputAlergia" placeholder="Clique em 'Sim' para informar...">
            <p class="help-block"></p>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <fieldset class="form-group">
            <label>Doença Herdada?</label>
            <br>
            &nbsp;
            <label class="radio-inline">
              <input type="radio" name="Doenca" id="optionsDoenca" (click)="radioValueCheckDoenca(1)" value="option1">
              Sim
              &nbsp;&nbsp;&nbsp;
              <input type="radio" name="Doenca" id="optionsDoenca" (click)="radioValueCheckDoenca(2)" value="option2"
                checked> Não
            </label>
          </fieldset>
        </div>
        <div class="col-lg-6">
          <fieldset class="form-group">
            <label>Doenças</label>
            <input class="form-control" [disabled]="!showDateInputDoenca" placeholder="Clique em 'Sim' para informar...">
            <p class="help-block"></p>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <fieldset class="form-group">
            <label>Sintomas apresentados</label>
            <input class="form-control" placeholder="Descreva aqui os sintomas...">
            <p class="help-block"></p>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <fieldset class="form-group">
            <label>Procedimentos Realizados</label>
            <input class="form-control" placeholder="Descreva aqui os procedimentos...">
            <p class="help-block"></p>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <fieldset class="form-group">
            <label>Informações Adicionais</label>
            <input class="form-control" placeholder="Descreva aqui as informações...">
            <p class="help-block"></p>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-info btn-sm mr-2" routerLink="../../">Cancelar</button>

          <button class="btn btn-info btn-sm" (click)="randomize()">Concluir</button>
        </div>
      </div>
    </div>
  </div>